{% if site.disqus_shortname %}
<div class="panel panel-default">
  <div class="panel-heading" id="comments"><i class="fa fa-comments"></i> 添加评论</div>
  <div class="panel-body">
    <div id="disqus_thread"></div>
    <script>
      var disqus_config = function () {
        this.page.url = '{{ site.url }}{{ page.url }}';
        this.page.identifier = '{{ site.url }}{{ page.url }}';
      };
      (function () {
        var d = document,
          s = d.createElement('script');
        s.src = '//{{site.disqus_shortname}}.disqus.com/embed.js';
        s.setAttribute('data-timestamp', +new Date());
        (d.head || d.body).appendChild(s);
      })();
    </script>
    <noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript" rel="nofollow">comments
      powered by Disqus.</a></noscript>
  </div>
</div>
{% endif %}