<nav class="navbar navbar-default" id="top">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="{{ site.url }}">{{ site.title }}
        <small>{{ site.description }}</small>
      </a>
    </div>
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav navbar-right">
        <li {% if page.url == "/" %} class="active" {% endif %}>
          <a href="{{site.url}}">
            <i class="fa fa-home"></i>
            首页
          </a>
        </li>
        {% for my_page in site.pages %}
          {% if my_page.type == 'menu' %}
            <li {% if my_page.url == page.url %} class="active" {% endif %}>
              <a href="{{ my_page.url | prepend: site.baseurl }}">
                <span class="{{my_page.icon}}"></span>
                {{my_page.title}}
              </a>
            </li>
          {% endif %}
        {% endfor %}
        <!--<li>
          <a href="javascript:;" data-toggle="modal" data-target="#searchModal">
            <i class="fa fa-search"></i>
            搜索
          </a>
        </li>-->
      </ul>
    </div>
  </div>
</nav>