<header id="top">
  <div class="wrapper">
    <a href="{{ site.baseurl }}/" class="brand">{{ site.title }}</a>
    <small>{{site.brief-intro}}</small>
    <button id="headerMenu" class="menu"><i class="fa fa-bars"></i></button>
    <nav id="headerNav">
      <ul>
        <li>
          <a {% if page.url=="/" %} class="active" {% endif %} href="{{site.baseurl}}/">
            <i class="fa fa-home"></i>Home
          </a>
        </li>
        {% for my_page in site.pages %}
        {% if my_page.type == 'page' %}
        <li>
          <a {% if my_page.url==page.url %} class="active" {% endif %}
             href="{{ my_page.url | prepend: site.baseurl }}">
            <i class="fa fa-{{my_page.icon}}"></i>{{ my_page.title }}
          </a>
        </li>
        {% endif %}
        {% endfor %}
      </ul>
    </nav>
  </div>
</header>
