<nav class="navbar navbar-expand-lg navbar-light bg-light justify-content-between" style="margin-bottom: 20px;">
<!--  <div class="container justify-content-between">-->
  <a class="navbar-brand" href="{{ site.url }}">{{ site.title }} <small class="text-dark">{{ site.description }}</small></a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav ml-auto">
      {% for my_page in site.pages %}
        {% if my_page.type == 'menu' %}
          <li class="nav-item {% if my_page.url == page.url %}active{% endif %}">
            <a class="nav-link" href="{{ my_page.url | prepend: site.baseurl }}">
              <!--<span class="{{my_page.icon}}"></span>-->
              {{my_page.title}}
            </a>
          </li>
        {% endif %}
      {% endfor %}
    </ul>
  </div>
<!--  </div>-->
</nav>