{% if post %}
  {% assign tag_size = post.tags | size %}
  {% if tag_size > 0 %}
    <span class="item">
      <i class="fa fa-tags"></i>
      {% for tag in post.tags %}
        <!--<span class="label label-black">-->
          <a href="/tag/#{{tag}}">{{tag}}</a>
        <!--</span>-->
      {% endfor %}
    </span>
  {% endif %}
{% else if page %}
  {% assign tag_size = page.tags | size %}
  {% if tag_size > 0 %}
  <span class="item">
    <i class="fa fa-tags"></i>
    {% for tag in page.tags %}
      <!--<span class="label label-black">-->
        <a href="/tag/#{{tag}}">{{tag}}</a>
      <!--</span>-->
    {% endfor %}
  </span>
  {% endif %}
{% endif %}