<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  {% if site.bing_meta %} <meta name="msvalidate.01" content="{{site.bing_meta}}" /> {% endif %}
  {% seo %}
  <link href="/css/bootstrap.min.css" rel="stylesheet">
  <link href="/css/font-awesome.min.css" rel="stylesheet">
  <link href="{{ '/css/main.css' | prepend: site.baseurl }}" rel="stylesheet">
  <script src="/js/jquery.min.js"></script>
  <script src="/js/bootstrap.min.js"></script>
  <script async src="//busuanzi.ibruce.info/busuanzi/2.3/busuanzi.pure.mini.js"></script>
  <script src="/js/main.js"></script>

  {% if site.baidu_tongji_id %}
  <script>
    // 百度统计代码
    var _hmt = _hmt || [];
    (function() {
      var hm = document.createElement("script");
      hm.src = "//hm.baidu.com/hm.js?{{site.baidu_tongji_id}}";
      var s = document.getElementsByTagName("script")[0];
      s.parentNode.insertBefore(hm, s);
    })();
  </script>
  <!-- 百度自动提交链接代码 -->
  <script>
    (function(){
        var bp = document.createElement('script');
        var curProtocol = window.location.protocol.split(':')[0];
        if (curProtocol === 'https') {
            bp.src = 'https://zz.bdstatic.com/linksubmit/push.js';
        }
        else {
            bp.src = 'http://push.zhanzhang.baidu.com/push.js';
        }
        var s = document.getElementsByTagName("script")[0];
        s.parentNode.insertBefore(bp, s);
    })();
  </script>
  {% endif %}
  {% if site.google_analytics_id %}
  <!-- Global site tag (gtag.js) - Google Analytics -->
  <script async src="https://www.googletagmanager.com/gtag/js?id={{site.google_analytics_id}}"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', '{{site.google_analytics_id}}');
  </script>
  {% endif %}

</head>

<body>
  <div class="wrapper">
    <header>
      {% include header.html %}
    </header>
    <section class="container">
      {{ content }}
    </section>
    <footer>
      {% include footer.html %}
    </footer>
  </div>
  <div class="back-to-top">
    <a href="javascript:;">
      <i class="fa fa-arrow-up" aria-hidden="true"></i>
    </a>
  </div>
</body>

</html>
