<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <title>{{ site.title }}</title>
  <link href="/css/bootstrap.min.css" rel="stylesheet">
  <link href="/css/bootstrap-material-design.min.css" rel="stylesheet">
  <link href="/css/font-awesome.min.css" rel="stylesheet">
  <link href="{{ '/css/main.css' | prepend: site.baseurl }}" rel="stylesheet">
  <script src="/js/jquery.min.js"></script>
  <script src="/js/bootstrap.min.js"></script>
  <script async src="https://dn-lbstatics.qbox.me/busuanzi/2.3/busuanzi.pure.mini.js"></script>
  <script src="/js/main.js"></script>
</head>

<body>
  <div class="wrapper">
    <header>
      {% include header.html %}
    </header>
    <section class="container">
      {{ content }}
    </section>
    <footer>
      {% include footer.html %}
    </footer>
  </div>
  {% include show_big_image.html %}
</body>

</html>