---
layout: default
---
<div class="row">
  <div class="col-md-9">
    <div class="panel">
      <div class="panel-body">
        <h3>{{ page.title }}</h3>
        <small>
          <span class="item">
            <i class="fa fa-calendar-check-o"></i> {{page.date | date: '%F'}}
          </span>
          {% if page.author %}
          <span class="item">
            <i class="fa fa-user"></i> {{page.author}}
          </span>
          {% endif %}
          {% if page.categories %}
          {% include categories.html %}
          {% endif %}
          {% if page.tags %}
          {% include tags.html %}
          {% endif %}
        </small>
        <hr>
        <div class="post-content">
          {{ page.content }}
          原文链接: <a href="{{ page.url | prepend: site.url }}">{{ page.url | prepend: site.url }}</a>
        </div>
      </div>
    </div>
    <ul class="prev-next">
      {% if page.previous.url %}
        <li>
          前一篇: <a href="{{page.previous.url}}">{{page.previous.title}}</a>
        </li>
      {% endif %}
      {% if page.next.url %}
        <li>
          后一篇: <a href="{{page.next.url}}">{{page.next.title}}</a>
        </li>
      {% endif %}
    </ul>
    {% include comments.html %}
  </div>
  <div class="col-md-3 hidden-sm hidden-xs">
    <div class="post-right">
      <div class="panel panel-default">
        <div class="panel-heading"><i class="fa fa-list-ul"></i> 文章目录</div>
        <div class="panel-body toc">
        </div>
      </div>
    </div>
  </div>
</div>