---
layout: default
---
<div class="row">
  <div class="col-md-9" style="overflow-x: hidden;">
    <!-- {% include tips.html %} -->
    <div class="card">
      <div class="post-edit">
        <a href="https://github.com/tomoya92/tomoya92.github.io/edit/master/{{page.path}}" target="_blank">编辑</a>
      </div>
      <div class="card-body">
        <h3>{{ page.title }}</h3>
        <small>
          <span class="item">
            <i class="fa fa-calendar-check-o"></i> {{page.date | date: '%F'}}
          </span>
          {% if page.author %}
            <span class="item">
              <i class="fa fa-user"></i> {{page.author}}
            </span>
          {% endif %}
          {% if page.categories %}
            {% include categories.html %}
          {% endif %}
          {% if page.tags %}
            {% include tags.html %}
          {% endif %}
        </small>
        <hr>
        <div class="post-content">
          {{page.content}}
          原文链接: <a href="{{ page.url | prepend: site.url }}">{{ page.url | prepend: site.url }}</a>
        </div>
      </div>
    </div>
    <!-- <div class="card">
      <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
      <ins class="adsbygoogle" style="display:block" data-ad-client="ca-pub-2721745535033061" data-ad-slot="4871754784"
        data-ad-format="auto" data-full-width-responsive="true"></ins>
      <script>
        (adsbygoogle = window.adsbygoogle || []).push({});
      </script>
    </div> -->
    <ul class="prev-next">
      {% if page.previous.url %}
        <li>
          前一篇: <a href="{{page.previous.url}}">{{page.previous.title}}</a>
        </li>
      {% endif %}
      {% if page.next.url %}
        <li>
          后一篇: <a href="{{page.next.url}}">{{page.next.title}}</a>
        </li>
      {% endif %}
    </ul>
    {% include comments.html %}
  </div>
  <div class="col-md-3 hidden-sm d-none d-sm-block">
    <div class="post-right">
      <div class="card">
        <div class="card-header"><i class="fa fa-list-ul"></i> 文章目录</div>
        <div class="card-body toc">
        </div>
      </div>
      {% include advertisements.html %}
    </div>
  </div>
</div>
