---
layout: default
title: 标签
permalink: /tag/
type: menu
icon: fa fa-tags
---
<div class="row">
  <div class="col-md-9">
    <div class="panel panel-default">
      <div class="panel-body">
        <p>共计 {{site.tags.size}} 个标签</p>
        <hr>
        {% for tag in site.tags %}
          <p style="font-size: 18px;" id="{{tag | first}}">{{tag | first}}</p>
          <ul class="tags-list">
            {% for post in tag.last %}
            <li>
              <time>
                {{ post.date | date:"%Y-%m-%d" }}:
              </time>
              <a href="{{ post.url }}">{{ post.title }}</a>
            </li>
            {% endfor %}
          </ul>
          {% if forloop.last == false %}
            <hr>
          {% endif %}
        {% endfor %}
      </div>
    </div>
  </div>
  <div class="col-md-3 hidden-sm hidden-xs">
    <div class="post-right">
      <div class="panel panel-default">
        <div class="panel-heading"><i class="fa fa-tags"></i> 标签目录</div>
        <div class="panel-body">
          <ul class="table-of-content">
            {% for tag in site.tags %}
              <li><a href="#{{tag | first}}">{{tag | first}}</a></li>
            {% endfor %}
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>